<div class="container">
    <div class="row">

      <div class="col-md-4">
        <h5>The FSOT is administered 3 times per year</h5>
        <p></p>
        <img src="../../assets/dates.png" width="400px" alt="">
        <p></p>
      </div>

      <div class="col-md-4">
      </div>

      <div class="col-md-4">
        <p>
        </p>
        <h1>Register for the FSOT &nbsp;<a href="https://home.pearsonvue.com/fsot">here</a></h1>
        <h5>Good luck on your exam</h5>
      </div>

      
    </div>
  </div>
  