<div class="container">
  <div class="row">
    <div class="col-md-2">
      <img src="./assets/james-monroe.jpeg" id="divina" width="100px">
      <p>
    </div>
    <div class="col-md-8">

      <h1>Time for US & World economy, please review these lectures first:</h1>
      <p><p><p>
      <h4>{{name}} ... <a href={{url}} target="_blank">start course</a></h4>
      <p><p><p>
      <!--<textarea class="md-textarea form-control" rows="10"></textarea>-->
      <p> <button class="btn btn-primary" (click)="getNew()">Study</button>
    </div>
    <div class="col-md-2">
    </div>
  </div>
</div>
